<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> attendance list</title>
</head>
<body>
    <h2>Attendance List</h2>
    <table border "1">
    <tr>
        <th>student</th>
        <th>date</th>
        <th>status</th>
    </tr>
    {%for Attendance in records  %}
    <tr>
        <td>{{Attendance.student}}</td>
        <td>{{Attendance.date}}</td>
        <td>{{Attendance.status}}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>