 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>College Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>🎓 Welcome to College Management System</h1>
    <div class="button-container">
        <a href="/students/" class="button">👨‍🎓 Students</a>
        <a href="/faculties/" class="button">👩‍🏫 Faculties</a>
        <a href="/courses/" class="button">📚 Courses</a>
        <a href="/attendance/" class="button">📝 Attendance</a>
        <a href="/marks/" class="button">📊 Marks</a>
    </div>

    
</body>
</html> 







